#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1
include /usr/share/dpkg/pkg-info.mk

export CFLAGS=$(shell dpkg-buildflags --get CFLAGS)
export CXXFLAGS=$(shell dpkg-buildflags --get CXXFLAGS)
export LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS)

PACKAGES := gpib-modules-dkms libgpib-dev libgpib0 libgpib-bin libgpib-perl python3-gpib libtcl8.6-gpib libgpib-doc

PY3VERS=$(shell py3versions -vr)

config.status:
	dh_testdir
	cp -a linux-gpib-kernel kernel
	cp -a linux-gpib-user   build
	cp /usr/share/misc/config.sub build
	cp /usr/share/misc/config.guess build
	set -e ;for pyvers in ${PY3VERS};\
	do\
		cp -a build/language/python build/language/python$$pyvers;\
	done
	(cd build; \
	./bootstrap; \
	./configure --host=$(DEB_HOST_GNU_TYPE) \
		--build=$(DEB_BUILD_GNU_TYPE) \
		--prefix=/usr \
		--mandir=\$${prefix}/share/man \
		--infodir=\$${prefix}/share/info \
		--sysconfdir=/etc \
		--with-tcl=/usr/lib/tcl8.6/)
	touch $@


build: build-stamp
build-stamp:  config.status
	dh_testdir

	# Add here commands to compile the package.
	cd build/include && $(MAKE)
	cd build/lib && $(MAKE)
	cd build/language && $(MAKE)
	cd build/examples && $(MAKE)
	cd build/doc && $(MAKE)
	set -e ;\
	for pyvers in ${PY3VERS};\
	do\
		(cd build/language/python$$pyvers;\
		python$$pyvers setup.py build; )\
	done
	cd build/doc && (LANG="en_US"; docbook2man linux-gpib.sgml )
	(cd build/language/perl; \
	perl Makefile.PL INSTALLDIRS=vendor; \
	$(MAKE) OPTIMIZE="-O2 -g -Wall" LD_RUN_PATH=)

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	rm -f config.status
	# Add here commands to clean up after the build process.
	rm -rf build
	rm -rf kernel

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_prep 
	dh_installdirs

	# Use make install to get everything on the fakeroot
	cd build && $(MAKE) DESTDIR=$(CURDIR)/debian/tmp install

	#Documentation for C
	mkdir -p debian/tmp/usr/share/linux-gpib/examples-c
	cp build/examples/*.c debian/tmp/usr/share/linux-gpib/examples-c

	#Install Python bindings
	for pyvers in $(PY3VERS); do \
		(cd build/language/python$$pyvers;\
		python$$pyvers setup.py install --prefix=/usr --root=$(CURDIR)/debian/tmp;)\
	done
	#Documentation for Python
	mkdir -p debian/tmp/usr/share/linux-gpib/examples-python
	cp build/language/python/README debian/tmp/usr/share/linux-gpib/examples-python

	#Install Perl modules
	cd build/language/perl && $(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	#Documentation for Perl
	mkdir -p debian/tmp/usr/share/linux-gpib/examples-perl
	cp build/language/perl/examples/examples/n8ur/* debian/tmp/usr/share/linux-gpib/examples-perl

	#Documentation for Tcl
	mkdir -p debian/tmp/usr/share/linux-gpib/examples-tcl
	cp -a build/language/tcl/examples/* debian/tmp/usr/share/linux-gpib/examples-tcl
	cp build/language/tcl/README debian/tmp/usr/share/linux-gpib/examples-tcl

	#Install manpage
	mkdir -p debian/tmp/usr/share/man/man1
	cp debian/manpages/ibtest.1 debian/tmp/usr/share/man/man1
	cp debian/manpages/ibterm.1 debian/tmp/usr/share/man/man1
	mkdir -p debian/tmp/usr/share/man/man8
	cp build/doc/gpib_config.8 debian/tmp/usr/share/man/man8

	# fix E:udev-rule-in-etc
	mkdir -p debian/tmp/lib
	mv debian/tmp/etc/udev debian/tmp/lib/

	#make modules source
	dh_dkms -V $(DEB_VERSION_UPSTREAM)
	cp -a kernel/* debian/gpib-modules-dkms/usr/src/linux-gpib-$(DEB_VERSION_UPSTREAM)/

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs build/ChangeLog
	dh_installdocs
	dh_installdocs -plibgpib-doc build/AUTHORS build/COPYING build/README \
		build/README.HAMEG build/README.hp82335 build/TODO
	dh_install --sourcedir=debian/tmp
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_perl
	dh_python3
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

get-orig-source:
	set -e;\
	VER=$(DEB_VERSION_UPSTREAM);\
	wget -q "https://sourceforge.net/projects/linux-gpib/files/linux-gpib for 3.x.x and 2.6.x kernels/$$VER/linux-gpib-$$VER.tar.gz/download";\
	mv download linux-gpib-$$VER.tar.gz;\
	tar xzf linux-gpib-$$VER.tar.gz;\
	rm -f linux-gpib-$$VER.tar.gz;\
	cd linux-gpib-$$VER && tar xzf linux-gpib-user-$$VER.tar.gz;cd ..;\
	rm -f linux-gpib-$$VER/linux-gpib-user-$$VER.tar.gz;\
	mv linux-gpib-$$VER/linux-gpib-user-$$VER linux-gpib-$$VER/linux-gpib-user;\
	cd linux-gpib-$$VER && tar xzf linux-gpib-kernel-$$VER.tar.gz;cd ..;\
	rm -f linux-gpib-$$VER/linux-gpib-kernel-$$VER.tar.gz;\
	mv linux-gpib-$$VER/linux-gpib-kernel-$$VER linux-gpib-$$VER/linux-gpib-kernel;\
	tar czf ../linux-gpib_$$VER.orig.tar.gz linux-gpib-$$VER;\
	rm -rf linux-gpib-$$VER


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
